openapi: 3.0.0
info:
  title: Deposits Module - Accounts
  version: 1.0.0
  description: >
    Temenos exhibits modularity in its design approach by dividing the system into smaller, loosely coupled modules. The deposits modules of Retail Modular Banking is an independently deployable piece of software providing solution for specific business area namely retail deposits and retail accounts. This API can be used to create and manage accounts such as current, savings, using the Arrangement Architecture.

servers:
  - url: http://api.server.com/api/v1.0.0
  - url: https://api.server.com/api/v1.0.0

security:
  - basicAuth: []
  - apiKey: []

tags:
  - name: Account Closure
  - name: Account Information
  - name: Account Interests
  - name: Account Maintenance
  - name: Account Migrations
  - name: Account Opening
  - name: Account Overdrafts
  - name: Account Parties
  - name: Account Services
  - name: Account Statements
  - name: Activity Reversals
  - name: Fund Blocking
  - name: Payment Schedules
  - name: Posting Restrictions
  - name: Settlement Instructions
  - name: Simulation Execution

paths:

  /holdings/accounts/currentAccounts:
    post:
      operationId: createCurrentAccounts

      x-event: accounts.createAccount.accountCreated

      tags:
        - Account Opening

      summary: Create a current account.
      description: >
        Create a current account for a single customer or more than one customer (such as for a joint account relationship).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCurrentAccountsRequest"

      responses:
        '200':
          description: createCurrentAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCurrentAccountsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/migrations:
    post:
      operationId: accountTakeoverAccounts

      x-event: accounts.takeover.accountCreated

      tags:
        - Account Migrations

      summary: Take over account details.
      description: >
        Take over account details from a legacy system by capturing and migrating the account details, such as the customers, product, and currency, and migrating them.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accountTakeoverAccountsRequest"

      responses:
        '200':
          description: accountTakeoverAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accountTakeoverAccountsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencyAccounts:
    post:
      operationId: CreateMultiCurrencyAccount

      x-event: multiCurrencyAccounts.createAccount.accountCreated

      tags:
        - Account Opening

      summary: Create a multi-currency account.
      description: >
        Create a multi-currency account (MCA) for a single customer or more than one customer (such as for a joint account relationship), enabling multiple currency sub-accounts to be maintained under a single top-level arrangement.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMultiCurrencyAccountRequest"

      responses:
        '200':
          description: CreateMultiCurrencyAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMultiCurrencyAccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencyAccounts/simulation:
    post:
      operationId: createMcyAccountSim

      tags:
        - Account Opening

      summary: Multi-currency account opening simulation.
      description: >
        Perform a multi-currency account opening simulation to validate eligibility, pricing, and expected setup before creating the account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMcyAccountSimRequest"

      responses:
        '200':
          description: createMcyAccountSim
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMcyAccountSimResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencyAccounts/{accountId}:
    get:
      operationId: getMcyAccountDetails

      tags:
        - Account Information

      summary: Get multi-currency account details.
      description: >
        Returns the details of a specified multi-currency parent account, including the currency, product type, status, and balance information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getMcyAccountDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMcyAccountDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencyAccounts/{accountId}/closure:
    put:
      operationId: closeMultiCurrencyAccount

      x-event: multiCurrencyAccounts.close.accountClosed

      tags:
        - Account Closure

      summary: Close a multi-currency account.
      description: >
        Close the specified multi-currency account (top-level arrangement) once all required conditions are met, such as settling balances and completing any required sub-account closures.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/closeMultiCurrencyAccountRequest"

      responses:
        '200':
          description: closeMultiCurrencyAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencyAccounts/{accountId}/closure/simulation:
    post:
      operationId: simulateMcyAccountClosure

      tags:
        - Account Closure

      summary: Multi-currency account closure simulation.
      description: >
        Perform a multi-currency account closure simulation to calculate fees, interest, and any outstanding amounts that must be settled before closing the top-level account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/simulateMcyAccountClosureRequest"

      responses:
        '200':
          description: simulateMcyAccountClosure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/simulateMcyAccountClosureResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencySubAccounts:
    post:
      operationId: CreateMultiCurrencySubAccount

      x-event: accounts.createAccount.accountCreated

      tags:
        - Account Opening

      summary: Create a multi-currency sub-account.
      description: >
        Create a currency sub-account under an existing multi-currency account, allowing balances and transactions to be maintained separately per currency.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMultiCurrencySubAccountRequest"

      responses:
        '200':
          description: CreateMultiCurrencySubAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMultiCurrencySubAccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencySubAccounts/simulation:
    post:
      operationId: createMcySubAccountSim

      tags:
        - Account Opening

      summary: Multi-currency sub-account opening simulation.
      description: >
        Perform a multi-currency sub-account opening simulation to validate setup, pricing, and expected balances before creating the sub-account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMcySubAccountSimRequest"

      responses:
        '200':
          description: createMcySubAccountSim
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMcySubAccountSimResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencySubAccounts/{accountId}:
    get:
      operationId: getMcySubAccountDetails

      tags:
        - Account Information

      summary: Get multi-currency sub-account details.
      description: >
        Returns the details of a specified multi-currency sub-account, including the currency, product type, status, and balance information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getMcySubAccountDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMcySubAccountDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencySubAccounts/{accountId}/closure:
    put:
      operationId: closeMultiCurrencySubAccount

      x-event: accounts.close.accountClosed

      tags:
        - Account Closure

      summary: Close multi-currency sub-accounts.
      description: >
        Close one or more currency sub-accounts under a multi-currency account once required conditions are met, such as settling balances and pending items for each sub-account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/closeMultiCurrencySubAccountRequest"

      responses:
        '200':
          description: closeMultiCurrencySubAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/multiCurrencySubAccounts/{accountId}/closure/simulation:
    post:
      operationId: simulateMcySubAccountClosure

      tags:
        - Account Closure

      summary: Multi-currency sub-account closure simulation.
      description: >
        Perform a multi-currency sub-account closure simulation to calculate fees, interest, and any outstanding amounts that must be settled before closing a currency sub-account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/simulateMcySubAccountClosureRequest"

      responses:
        '200':
          description: simulateMcySubAccountClosure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/simulateMcySubAccountClosureResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/overdraftLimits:
    post:
      operationId: createAccountsOverdraftLimits

      x-event: accounts.updateLimit.limitUpdated

      tags:
        - Account Overdrafts

      summary: Add an overdraft limit to an account.
      description: >
        Create overdraft limits for a specified account by setting an amount, expiration date, and availability.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountsOverdraftLimitsRequest"

      responses:
        '200':
          description: createAccountsOverdraftLimits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/parties:
    post:
      operationId: addCustomerAccounts

      x-event: accounts.updateParty.partyUpdated

      tags:
        - Account Parties

      summary: Add customers to an existing current or savings account.
      description: >
        Add customers to the specified account by providing customer codes and roles to be added.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addCustomerAccountsRequest"

      responses:
        '200':
          description: addCustomerAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/savingsAccounts:
    post:
      operationId: createSavingsAccounts

      x-event: accounts.createAccount.accountCreated

      tags:
        - Account Opening

      summary: Create a savings account.
      description: >
        Create a savings account for a single customer or more than one customer (such as for a joint account relationship).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSavingsAccountsRequest"

      responses:
        '200':
          description: createSavingsAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSavingsAccountsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/simulation:
    post:
      operationId: createAccountSim

      tags:
        - Account Opening

      summary: Account opening simulation.
      description: >
        Perform an account opening simulation for current and savings accounts.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountSimRequest"

      responses:
        '200':
          description: createAccountSim
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAccountSimResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}:
    get:
      operationId: getAccountDetails

      tags:
        - Account Information

      summary: Get account details.
      description: >
        Returns the details of a specified account, including the currency, product type, and status, amongst other information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/activityHistory:
    get:
      operationId: getAccountActivityHistory

      tags:
        - Account Information

      summary: Get the history of activities on a current or savings account.
      description: >
        Returns a list of the activities that have been performed for a specified account, along with details such as the reference and status of each activity. This list includes scheduled activities, transactions, manually triggered activities, etc.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountActivityHistory
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountActivityHistoryResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/balances:
    get:
      operationId: getAccountBalance

      tags:
        - Account Information

      summary: Get account balances.
      description: >
        Returns balance details for a specified account, including information such as currency, ledger balance, and blocked amount.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountBalance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountBalanceResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/blockedFunds:
    get:
      operationId: getAccountsBlockFunds

      tags:
        - Fund Blocking

      summary: Get the blocked funds details for a current or savings account.
      description: >
        Returns a list of active (and optionally expired) fund blocks with details such as the amount blocked, start date, and blocking reference.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountsBlockFunds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountsBlockFundsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/branch:
    put:
      operationId: changeBranch

      x-event: accounts.modifyBranch.branchModified

      tags:
        - Account Maintenance

      summary: Change the branch of an account.
      description: >
        Change the branch of an existing account specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeBranchRequest"

      responses:
        '200':
          description: changeBranch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/channel:
    put:
      operationId: changeChannel

      x-event: accounts.modifyChannel.channelModified

      tags:
        - Account Maintenance

      summary: Change the channel of an account.
      description: >
        Change the channel of an existing account specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeChannelRequest"

      responses:
        '200':
          description: changeChannel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/closure:
    put:
      operationId: accountClosure

      x-event: accounts.close.accountClosed

      tags:
        - Account Closure

      summary: Close an account.
      description: >
        Perform an account closure for a current or savings account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accountClosureRequest"

      responses:
        '200':
          description: accountClosure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/closure/simulation:
    post:
      operationId: simulateAccountClosure

      tags:
        - Account Closure

      summary: Account closure simulation.
      description: >
        Perform an account closure simulation for current and savings accounts.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/simulateAccountClosureRequest"

      responses:
        '200':
          description: simulateAccountClosure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/simulateAccountClosureResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/dormancyStatus:
    put:
      operationId: changeAccountDormancyStatus

      x-event: accounts.changeDormancy.dormancyChanged

      tags:
        - Account Maintenance

      summary: Change the dormancy status of a current or savings account.
      description: >
        Change the dormancy status of the specified account to ensure correct operational status.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeAccountDormancyStatusRequest"

      responses:
        '200':
          description: changeAccountDormancyStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/interestAccruals:
    get:
      operationId: getInterestDetailsAccounts

      tags:
        - Account Interests

      summary: Get the interest accruals of a current or savings account.
      description: >
        Returns interest accrual details for the current period of the specified account. The response includes the accrual period, currency, and an array of interest accrual information for different interest types.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getInterestDetailsAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInterestDetailsAccountsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/lineOfBusiness:
    put:
      operationId: changeLOB

      x-event: accounts.modifyLOB.lobModified

      tags:
        - Account Maintenance

      summary: Change the line of business of an account.
      description: >
        Change the line of business of an existing account specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeLOBRequest"

      responses:
        '200':
          description: changeLOB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/migrations/balances:
    put:
      operationId: MigrateAccountBalancesAccounts

      x-event: accounts.captureLegacyBalance.balanceCaptured

      tags:
        - Account Migrations

      summary: Migrate current or savings account balances.
      description: >
        Migrate account balances from a legacy system by capturing the balance details of the specified account (such as balance type, due amount, etc.).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MigrateAccountBalancesAccountsRequest"

      responses:
        '200':
          description: MigrateAccountBalancesAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/officer:
    put:
      operationId: updateAccountofficer

      tags:
        - Account Maintenance

      summary: Change account officer.
      description: >
        Change the account officer assigned to an existing account specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountofficerRequest"

      responses:
        '200':
          description: updateAccountofficer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/overdraftActivation:
    put:
      operationId: activateAccountsOverdraftLimit

      x-event: accounts.updateLimit.limitUpdated

      tags:
        - Account Overdrafts

      summary: Enable the overdraft limit to an account.
      description: >
        Control the overdraft availability of a specified account by enabling or disabling overdraft limits.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activateAccountsOverdraftLimitRequest"

      responses:
        '200':
          description: activateAccountsOverdraftLimit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/overdraftLimits:
    delete:
      operationId: deleteAccountsOverdraftLimits

      x-event: accounts.updateLimit.limitUpdated

      tags:
        - Account Overdrafts

      summary: Delete the overdraft limit from an account.
      description: >
        Delete the overdraft limits for a specified account, optionally setting an effective date for this change.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deleteAccountsOverdraftLimitsRequest"

      responses:
        '200':
          description: deleteAccountsOverdraftLimits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    put:
      operationId: updateAccountsOverdraftLimits

      x-event: accounts.updateLimit.limitUpdated

      tags:
        - Account Overdrafts

      summary: Change the overdraft limit of an account.
      description: >
        Update overdraft limits for a specified account by modifying the amount, expiration date, and/or availability.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountsOverdraftLimitsRequest"

      responses:
        '200':
          description: updateAccountsOverdraftLimits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/overdraftStatus:
    put:
      operationId: changeOverdraftStatus

      x-event: accounts.updateOverdraft.overdraftUpdated

      tags:
        - Account Overdrafts

      summary: Change overdraft ageing status.
      description: >
        Change overdraft ageing status of the specified account based on regulatory, risk, or business requirements.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeOverdraftStatusRequest"

      responses:
        '200':
          description: changeOverdraftStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    get:
      operationId: getAccountsAgingOverdraftStatus

      tags:
        - Account Overdrafts

      summary: Get account's overdraft status.
      description: >
        Returns the current and previous overdraft ageing details of a specified account, including the statuses and dates.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountsAgingOverdraftStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountsAgingOverdraftStatusResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/parties:
    put:
      operationId: changeCustomerAccounts

      x-event: accounts.updateParty.partyUpdated

      tags:
        - Account Parties

      summary: Change the customer(s) of a current or savings account.
      description: >
        Change the customers associated with the specified account by providing customer codes and roles.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCustomerAccountsRequest"

      responses:
        '200':
          description: changeCustomerAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      operationId: deleteCustomerAccounts

      x-event: accounts.updateParty.partyUpdated

      tags:
        - Account Parties

      summary: Delete customer(s) from a current or savings account.
      description: >
        Delete particular customers from the specified account by providing customer codes and roles to be removed.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deleteCustomerAccountsRequest"

      responses:
        '200':
          description: deleteCustomerAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/paymentSchedule:
    put:
      operationId: changeAccountPaymentSchedule

      x-event: accounts.updateSchedule.scheduleUpdated

      tags:
        - Payment Schedules

      summary: Change the payment schedule of a current or savings account.
      description: >
        Change the payment schedule for a specified account by modifying the payment type, property, payment frequency, and/or start date.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeAccountPaymentScheduleRequest"

      responses:
        '200':
          description: changeAccountPaymentSchedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/product:
    put:
      operationId: changeProduct

      x-event: accounts.changeProduct.productChanged

      tags:
        - Account Maintenance

      summary: Change the product of an account.
      description: >
        Change the product of an existing account specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeProductRequest"

      responses:
        '200':
          description: changeProduct
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/restrictions:
    delete:
      operationId: unblockAccountPostingRestrictions

      x-event: accounts.updateAccount.accountUpdated

      tags:
        - Posting Restrictions

      summary: Remove posting restrictions from a current or savings account.
      description: >
        Lift posting restrictions for a specified account using an unblocking code.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/unblockAccountPostingRestrictionsRequest"

      responses:
        '200':
          description: unblockAccountPostingRestrictions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    put:
      operationId: updateAccountPostingRestrictions

      x-event: accounts.updateAccount.accountUpdated

      tags:
        - Posting Restrictions

      summary: Add posting restrictions to a current or savings account.
      description: >
        Create posting restrictions for a specified account using a blocking code and start date.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountPostingRestrictionsRequest"

      responses:
        '200':
          description: updateAccountPostingRestrictions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/schedules:
    get:
      operationId: getScheduleForAccount

      tags:
        - Payment Schedules

      summary: Get the payment schedule of a current or savings account.
      description: >
        Returns the list of payment schedules for a specified account, including details such as payment type, payment frequency, and start date.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getScheduleForAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getScheduleForAccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/services:
    put:
      operationId: addServicesAccounts

      x-event: accounts.updateFacility.facilityUpdated

      tags:
        - Account Services

      summary: Add account services.
      description: >
        Add new services to a specified account, allowing customers or internal users to activate additional services (e.g., SMS alerts, overdraft facility, or online banking).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addServicesAccountsRequest"

      responses:
        '200':
          description: addServicesAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      operationId: removeServicesAccounts

      x-event: accounts.updateFacility.facilityUpdated

      tags:
        - Account Services

      summary: Delete account services.
      description: >
        Delete specfiic services from a specified account, allowing customers or internal users to deactivate additional services (e.g., SMS alerts, overdraft facility, or online banking).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/removeServicesAccountsRequest"

      responses:
        '200':
          description: removeServicesAccounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/settlementInstructions:
    put:
      operationId: createAccountSettlementInstructionsLite

      x-event: accounts.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Enable or disable settlement instructions.
      description: >
        Enable or disable settlement instructions for a specified account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountSettlementInstructionsLiteRequest"

      responses:
        '200':
          description: createAccountSettlementInstructionsLite
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/settlementInstructions/advanced:
    put:
      operationId: createAccountSettlementInstructions

      x-event: accounts.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Change settlement instructions.
      description: >
        Change settlement instructions for a specified account using advanced field options, which include payment type, settlement type, percentage, maximum amount, and activity.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountSettlementInstructionsRequest"

      responses:
        '200':
          description: createAccountSettlementInstructions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/settlementInstructions/default:
    put:
      operationId: createAccountSettlementInstructionsDefault

      x-event: accounts.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Change the default settlement instructions of a current or savings account.
      description: >
        Change default settlement instructions for a specified account by modifying either the default account id or default beneficiary id.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountSettlementInstructionsDefaultRequest"

      responses:
        '200':
          description: createAccountSettlementInstructionsDefault
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/statement:
    get:
      operationId: getAccountsStatement

      tags:
        - Account Statements

      summary: Provides a list of transactions of a given current or savings account.
      description: >
        Returns a detailed transaction history for the specified account, including the opening and closing balances, transaction code and amount, and the booking date, amongst other information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getAccountsStatement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountsStatementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/accounts/{accountId}/statementFrequencies:
    put:
      operationId: updateAccountStatementFrequencies

      x-event: accounts.updateStatement.statementUpdated

      tags:
        - Account Statements

      summary: Change the statement frequency of a current or a savings account.
      description: >
        Update the customer's statement delivery preferences for a specified account. The frequency of statements can be updated and the change can go into effect on a specified date of the customer's choosing.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountStatementFrequenciesRequest"

      responses:
        '200':
          description: updateAccountStatementFrequencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/activities/{activityReference}:
    delete:
      operationId: reversePostedActivity

      tags:
        - Activity Reversals

      summary: Reverse an activity.
      description: >
        Reverse the specified activity on an account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: activityReference
          in: path
          required: true
          schema:
            type: string
          description: >
            Contains the unique reference id of the activity that will be reversed.
          example: AAACT25105T3FKC472

      responses:
        '200':
          description: reversePostedActivity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/fundBlocks:
    post:
      operationId: createBlockFunds

      x-event: financialAccounting.updateContractBalances.contractBalancesUpdated

      tags:
        - Fund Blocking

      summary: Block (reserve) funds to an account.
      description: >
        Create a funds reservation with details such as account number, block or reserve amount, period of hold transaction, reason for holding. Funds reservations are created to block or reserve funds, which restricts any debit movements affecting the account balance below the blocked amount for the specified period on an account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createBlockFundsRequest"

      responses:
        '200':
          description: createBlockFunds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBlockFundsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/fundBlocks/{fundBlockId}:
    delete:
      operationId: cancelBlockFunds

      x-event: financialAccounting.updateContractBalances.contractBalancesUpdated

      tags:
        - Fund Blocking

      summary: Release blocked funds from an account.
      description: >
        Cancel the funds reservation of an account. Funds reservations are created to block or reserve funds, which restricts any debit movements affecting the account balance below the blocked amount for the specified period on an account. On removal of the funds reservations, the blocked or reserved amount is now available for usage.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: fundBlockId
          in: path
          required: true
          schema:
            type: string
          description: >
            Contains the unique reference id generated for the blocked funds activity that was performed.
          example: 189993

      responses:
        '200':
          description: cancelBlockFunds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cancelBlockFundsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    put:
      operationId: updateBlockFunds

      x-event: financialAccounting.updateContractBalances.contractBalancesUpdated

      tags:
        - Fund Blocking

      summary: Update an existing fund blocking on an account.
      description: >
        Update the funds reservation of an account. Funds reservations are created to block or reserve funds, which restricts any debit movements affecting the account balance below the blocked amount for the specified period on an account. On removal of the funds reservations, the blocked or reserved amount is now available for usage.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: fundBlockId
          in: path
          required: true
          schema:
            type: string
          description: >
            Contains the unique reference id generated for the blocked funds activity that was performed.
          example: 189993

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateBlockFundsRequest"

      responses:
        '200':
          description: updateBlockFunds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateBlockFundsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/parties/{partyId}/accounts:
    get:
      operationId: getPartyAccountDetails

      tags:
        - Account Parties

      summary: Get current and savings account information for a specified party.
      description: >
        Returns a list of retail accounts associated with the specified party, along with details such as currency, status, and balance for each account.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: partyId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the customer. Can represent multiple parties for joint accounts. For example - 189993.
          example: 189993

      responses:
        '200':
          description: getPartyAccountDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPartyAccountDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/simulation/{simulationRunReference}/execution:
    put:
      operationId: simulateExecution

      tags:
        - Simulation Execution

      summary: Execute a simulated activity on an account.
      description: >
        Execute an existing simulation using the provided simulation reference id.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: simulationRunReference
          in: path
          required: true
          schema:
            type: string
          description: >
            Identifier assigned to a simulation run.
          example: SIM123456

      responses:
        '200':
          description: simulateExecution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/simulateExecutionResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

components:

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    apiKey:
      type: apiKey
      name: Authorization
      in: header

  parameters:
    page_size:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: >
        The total number of records per page.
    page_start:
      name: page_start
      in: query
      required: false
      schema:
        type: integer
      description: >
        The record from which the response should be displayed.
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: >
        Unique id expected to be returned as part of the response from the system.
    disablePagination:
      name: disablePagination
      in: header
      required: false
      schema:
        type: boolean
      description: >
        Defines the availability of the pagination attributes in the header. If it is set to true, the system will fetch all the data without pagination.
    validate_only:
      name: validate_only
      in: query
      required: false
      schema:
        type: boolean
      description: >
        Indicates whether the request should be validated only (true) or executed (false).
    credentials:
      name: credentials
      in: header
      required: false
      schema:
        type: string
      description: >
        Username and password to authenticate the API request in the system.
    companyId:
      name: companyId
      in: header
      required: false
      schema:
        type: string
      description: >
        The system supports multiple companies/entities within it. This tag defines the company code to which the new account will be created.
    deviceId:
      name: deviceId
      in: header
      required: false
      schema:
        type: string
      description: >
        Identifies the device type.
    userRole:
      name: userRole
      in: header
      required: false
      schema:
        type: string
      description: >
        User who initiated the transaction.
    channel:
      name: channel
      in: header
      required: false
      schema:
        type: string
      description: >
        Captures the origination or servicing channel through which the account or transaction was initiated, such as BRANCH or ONLINE.

  schemas:

    getPartyAccountDetailsResponse:
      type: object
      properties:
        accounts:
          type: array

          description: >
            Contains all of the accounts related to the specified party.

          items:
            type: object
            properties:
              accountBalance:
                type: number

                description: >
                  Represents the real-time available balance of the account, showing accessible funds.

                example: 1000.0

              accountId:
                type: string

                description: >
                  Unique identifier of the account. For example - 123456.

                example: 123456

              accountName:
                type: string

                description: >
                  Defines the name of the account. For example, "MySavingsAccount" or "MyCurrentAccount".

                example: MySavingsAccount

              status:
                type: string

                description: >
                  Indicates the funding status of the account (e.g., Current, Unauthorized or Fully funded, Partially funded, Not Funded).

                example: CURRENT

              branch:
                type: string

                description: >
                  Defines the branch to which the account belongs.

                example: 01123

              channel:
                type: string

                description: >
                  Captures the origination or servicing channel through which the account or transaction was initiated, such as BRANCH or ONLINE.

                example: EMAIL

              companyCode:
                type: string

                description: >
                  Defines the company/entity to which the account is maintained.

                example: GB0010001

              contractDate:
                type: string

                description: >
                  Defines the date on which the account was created. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              currency:
                type: string

                description: >
                  Contains the 3-digit ISO currency code that indicates the currency of the account. For example - USD.

                example: USD

              dormancyStatus:
                type: string

                description: >
                  Specifies the operative status of the account (e.g., active, inactive, dormant, unclaimed).

                example: CURRENT

              dormancyStatusDate:
                type: string

                description: >
                  Records the date when the account's dormancy status became effective or was last updated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              lineOfBusiness:
                type: string

                description: >
                  Specifies the banking line of business (e.g., RETAIL, CORPORATE) under which the account is managed.

                example: 99

              parties:
                type: array

                description: >
                  Defines the parties of the account and their respective roles.

                items:
                  type: object
                  properties:
                    partyId:
                      type: string

                      description: >
                        Unique identifier of the customer. Can represent multiple parties for joint accounts. For example - 189993.

                      example: 189993

                    partyRole:
                      type: string

                      description: >
                        Defines the role of the party in the account.

                      example: OWNER

                    taxationPercent:
                      type: string

                      description: >
                        Defines the corresponding percentage of the tax on interest.

                      example: 10

              partyId:
                type: string

                description: >
                  Unique identifier of the customer. Can represent multiple parties for joint accounts. For example - 189993.

                example: 189993

              partyRole:
                type: string

                description: >
                  Defines the role of the party in the account.

                example: OWNER

              productId:
                type: string

                description: >
                  Contains the name of the product associated with the account (e.g., RegularCurrentAccount).

                example: ConsumerLoan

              productType:
                type: string

                description: >
                  Contains the broader product group under which the account's product is categorized.

                example: CurrentAccount

              startDate:
                type: string

                description: >
                  Defines the date on which the transaction, payment, or change gets initiated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

    createAccountSimResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        interest:
          type: array

          description: >
            Contains the interest details, such as frequency and type of an account.

          items:
            type: object
            properties:
              interestRate:
                type: number

                description: >
                  Defines the applied interest rate for the respective accrual date.

                example: 4.0

              interestRateDate:
                type: string

                description: >
                  Defines the date at which the interest rate becomes effective.

                example: 2025-04-14

              interestType:
                type: string

                description: >
                  Defines the type of interest that is applicable to the account.

                example: CreditInterest

              tierThreshold:
                type: string

                description: >
                  Defines the tier threshold to which the interest rate corresponds.

                example: 100

              tierThresholdType:
                type: string

                description: >
                  Defines if the tiers are configured as percentage of the balance or as balance amount.

                example: balance amount

              tierType:
                type: string

                description: >
                  Defines the type of tiers defined, such as BAND or LEVEL.

                example: BAND

        paymentSchedule:
          type: array

          description: >
            Contains the payment schedule details for an account, such as frequency and type.

          items:
            type: object
            properties:
              paymentFrequency:
                type: string

                description: >
                  Indicates the recurrence interval at which payments are generated.

                example: Monthly

              paymentType:
                type: string

                description: >
                  Indicates the type of payment defined in the payment schedule (e.g., interest, principal).

                x-reference:  /reference?applicationId=AA.PAYMENT.TYPE

                example: equatedPayments

              property:
                type: string

                description: >
                  Defines the property associated with the respective payment or balance type.

                x-reference:  /reference?applicationId=AA.PROPERTY

                example: DepositInterest

              startDate:
                type: string

                description: >
                  Defines the date on which the transaction, payment, or change gets initiated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

    createMcySubAccountSimResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        interest:
          type: array

          description: >
            Contains the interest details, such as frequency and type of an account.

          items:
            type: object
            properties:
              interestRate:
                type: number

                description: >
                  Defines the applied interest rate for the respective accrual date.

                example: 4.0

              interestRateDate:
                type: string

                description: >
                  Defines the date at which the interest rate becomes effective.

                example: 2025-04-14

              interestType:
                type: string

                description: >
                  Defines the type of interest that is applicable to the account.

                example: CreditInterest

              tierThreshold:
                type: string

                description: >
                  Defines the tier threshold to which the interest rate corresponds.

                example: 100

              tierThresholdType:
                type: string

                description: >
                  Defines if the tiers are configured as percentage of the balance or as balance amount.

                example: balance amount

              tierType:
                type: string

                description: >
                  Defines the type of tiers defined, such as BAND or LEVEL.

                example: BAND

        paymentSchedule:
          type: array

          description: >
            Contains the payment schedule details for an account, such as frequency and type.

          items:
            type: object
            properties:
              paymentFrequency:
                type: string

                description: >
                  Indicates the recurrence interval at which payments are generated.

                example: Monthly

              paymentType:
                type: string

                description: >
                  Indicates the type of payment defined in the payment schedule (e.g., interest, principal).

                x-reference:  /reference?applicationId=AA.PAYMENT.TYPE

                example: equatedPayments

              property:
                type: string

                description: >
                  Defines the property associated with the respective payment or balance type.

                x-reference:  /reference?applicationId=AA.PROPERTY

                example: DepositInterest

              startDate:
                type: string

                description: >
                  Defines the date on which the transaction, payment, or change gets initiated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

    createMcyAccountSimResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        interest:
          type: array

          description: >
            Contains the interest details, such as frequency and type of an account.

          items:
            type: object
            properties:
              interestRate:
                type: number

                description: >
                  Defines the applied interest rate for the respective accrual date.

                example: 4.0

              interestRateDate:
                type: string

                description: >
[...]
