openapi: 3.0.0
info:
  title: Lending Capability - Loans
  version: 1.0.0
  description: >
    Temenos exhibits composability in its design approach by dividing the system into smaller, loosely coupled capabilities. The deposits capabilities of Retail Composable Banking is an independently deployable piece of software providing solution for specific business area namely retail deposits and retail accounts. This API can be used to create and manage accounts such as current, savings, using the Arrangement Architecture.

servers:
  - url: http://api.server.com/api/v1.0.0
  - url: https://api.server.com/api/v1.0.0

security:
  - basicAuth: []
  - apiKey: []

tags:
  - name: Loan Origination
  - name: Loan Simulation
  - name: Repayment & Disbursement
  - name: Balance Maintenance
  - name: Payment Schedule Management
  - name: Settlement Instructions
  - name: Pricing Adjustments
  - name: Term Management
  - name: Loan Maintenance
  - name: Loan Parties
  - name: Loan Balances & Info
  - name: Statements
  - name: Activity Reversals
  - name: Migrations
  - name: Loan Closure

paths:

  /holdings/activities/{activityReference}:
    delete:
      operationId: reversePostedActivity

      tags:
        - Activity Reversals

      summary: Reverse an activity.
      description: >
        Reverse the specified activity on a loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: activityReference
          in: path
          required: true
          schema:
            type: string
          description: >
            Contains the unique reference id of the activity that will be reversed.
          example: AAACT25105T3FKC472

      responses:
        '200':
          description: reversePostedActivity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/consumerLoans:
    post:
      operationId: createConsumerLoans

      x-event: lending.createLoan.loanCreated

      tags:
        - Loan Origination

      summary: Create consumer loans.
      description: >
        Create a consumer loan for a single customer or more than one customer (such as for a joint loan or co-borrower loan).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createConsumerLoansRequest"

      responses:
        '200':
          description: createConsumerLoans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/linesOfCredit:
    post:
      operationId: createLOC

      x-event: lending.createLoan.loanCreated

      tags:
        - Loan Origination

      summary: Create line of credit.
      description: >
        Create a line of credit for a single customer or more than one customer (such as for a joint loan or co-borrower loan).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createLOCRequest"

      responses:
        '200':
          description: createLOC
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/migrations:
    post:
      operationId: lendingTakeover

      x-event: lending.takeover.loanCreated

      tags:
        - Migrations

      summary: Take over loan details.
      description: >
        Take over loan details from a legacy system by capturing and migrating the loan details, such as the customers, product, and currency, and migrating them.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/lendingTakeoverRequest"

      responses:
        '200':
          description: lendingTakeover
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/mortgages:
    post:
      operationId: createMortgages

      x-event: lending.createLoan.loanCreated

      tags:
        - Loan Origination

      summary: Create a mortgage.
      description: >
        Create a mortgage for a single customer or more than one customer (such as for a joint loan or co-borrower loan).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMortgagesRequest"

      responses:
        '200':
          description: createMortgages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/parties:
    post:
      operationId: addCustomer

      x-event: lending.updateParty.partyUpdated

      tags:
        - Loan Parties

      summary: Add customers to loan.
      description: >
        Add customers to the specified loan account by providing customer codes and roles to be added.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addCustomerRequest"

      responses:
        '200':
          description: addCustomer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/parties/{partyId}/loans:
    get:
      operationId: getPartyListOfLoans

      tags:
        - Loan Balances & Info

      summary: Get party loan details.
      description: >
        Returns the details of all loans for a specified party, including product, currency, term, status, and repayment-related information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: partyId
          in: path
          required: true
          schema:
            type: string
          description: >
            The party identification number associated with the account.
          example: 189993

      responses:
        '200':
          description: getPartyListOfLoans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPartyListOfLoansResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/parties/{partyId}/relation:
    get:
      operationId: getCustomerRelatedLoans

      tags:
        - Loan Parties

      summary: Get loans related to party.
      description: >
        Returns the loans related to the specified party loan owner, along with the ownership and relation details.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: partyId
          in: path
          required: true
          schema:
            type: string
          description: >
            The party identification number associated with the account.
          example: 189993

      responses:
        '200':
          description: getCustomerRelatedLoans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCustomerRelatedLoansResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/simulation:
    post:
      operationId: createlendingSim

      tags:
        - Loan Origination

      summary: Loan account opening simulation.
      description: >
        Perform an account opening simulation for loans.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createlendingSimRequest"

      responses:
        '200':
          description: createlendingSim
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createlendingSimResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}:
    get:
      operationId: getLoanDetails

      tags:
        - Loan Balances & Info

      summary: Get loan details
      description: >
        Returns all details for a specified loan, with key details such as product, status, currency, and outstanding balance.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

        - name: companyReference
          in: header
          required: false
          schema:
            type: string
          description: >
            Specifies the company code to which the external account belongs.
          example: GB0010001

      responses:
        '200':
          description: getLoanDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLoanDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/activityHistory:
    get:
      operationId: getLendingActivityHistory

      tags:
        - Loan Balances & Info

      summary: Get loan activity history.
      description: >
        Returns a list of activities that have been performed for a specified loan, along with details such as the reference and status of each activity. This list includes scheduled activities, transactions, and manually triggered activities.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

        - name: companyReference
          in: header
          required: false
          schema:
            type: string
          description: >
            Specifies the company code to which the external account belongs.
          example: GB0010001

      responses:
        '200':
          description: getLendingActivityHistory
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLendingActivityHistoryResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/amortizedBills/adjustments:
    put:
      operationId: adjustAmortizedBills

      x-event: lending.adjustBalance.balanceAdjusted

      tags:
        - Balance Maintenance

      summary: Adjust amortized bills for a loan.
      description: >
        Adjust the amortization details of a specified loan that has a pending amortization.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adjustAmortizedBillsRequest"

      responses:
        '200':
          description: adjustAmortizedBills
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/balances:
    get:
      operationId: getLoanBalances

      tags:
        - Loan Balances & Info

      summary: Get details of loan balances.
      description: >
        Returns details of the outstanding loan balances for the specified loan.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getLoanBalances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLoanBalancesResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/balances/adjustments:
    put:
      operationId: balanceAdjustment

      x-event: lending.adjustBalance.balanceAdjusted

      tags:
        - Balance Maintenance

      summary: Adjust balances for a loan.
      description: >
        Adjust the amounts from one or multiple balances for a specified loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/balanceAdjustmentRequest"

      responses:
        '200':
          description: balanceAdjustment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/balances/writeoffs:
    put:
      operationId: writeOffBalances

      x-event: lending.writeOffBalance.balanceWrittenOff

      tags:
        - Balance Maintenance

      summary: Write off balances for a loan.
      description: >
        Write off amounts from one or multiple balances for a specified loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/writeOffBalancesRequest"

      responses:
        '200':
          description: writeOffBalances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/balancesAndBills/adjustments:
    put:
      operationId: balanceAndBillAdjustment

      x-event: lending.adjustAllBalance.allBalanceAdjusted

      tags:
        - Balance Maintenance

      summary: Adjust both balances and bills for a loan.
      description: >
        Adjust the amounts of both balances and bills for a specified loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/balanceAndBillAdjustmentRequest"

      responses:
        '200':
          description: balanceAndBillAdjustment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/bills/adjustments:
    put:
      operationId: billAdjustment

      x-event: lending.adjustBill.billAdjusted

      tags:
        - Balance Maintenance

      summary: Adjust bills for a loan.
      description: >
        Adjust the amounts of single or multiple bills for a specified loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/billAdjustmentRequest"

      responses:
        '200':
          description: billAdjustment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/bills/writeoffs:
    put:
      operationId: writeOffBills

      x-event: lending.writeOffBill.billWrittenOff

      tags:
        - Balance Maintenance

      summary: Write off bills for a loan.
      description: >
        Write off amounts from one or multiple bills for a specified loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/writeOffBillsRequest"

      responses:
        '200':
          description: writeOffBills
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/branch:
    put:
      operationId: changeBranch

      x-event: lending.modifyBranch.branchModified

      tags:
        - Loan Maintenance

      summary: Change the branch for a loan.
      description: >
        Change the branch of an existing loan specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeBranchRequest"

      responses:
        '200':
          description: changeBranch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/channel:
    put:
      operationId: changeChannel

      x-event: lending.modifyChannel.channelModified

      tags:
        - Loan Maintenance

      summary: Change channel for a loan.
      description: >
        Change the channel of an existing loan specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeChannelRequest"

      responses:
        '200':
          description: changeChannel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/commitmentAmount:
    put:
      operationId: UpdatecommitAmount

      x-event: lending.modifyCommitment.commitmentModified

      tags:
        - Term Management

      summary: Change the commitment amount for a loan.
      description: >
        Change the commitment amount for an existing loan, updating payment after the holiday period.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatecommitAmountRequest"

      responses:
        '200':
          description: UpdatecommitAmount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/disbursements:
    post:
      operationId: createDisbursement

      x-event: lending.disburse.transactionExecuted

      tags:
        - Repayment & Disbursement

      summary: Disburse a loan.
      description: >
        Manually disburse a loan, either partially or fully.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDisbursementRequest"

      responses:
        '200':
          description: createDisbursement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDisbursementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/earlyPayoff/simulation:
    put:
      operationId: earlyPayoffSimulation

      tags:
        - Loan Simulation

      summary: Simulate an early payoff of a loan account.
      description: >
        Create and execute an early payoff simulation to calculate the fees, interest, overdue amount, and total outstanding amount that would have to be paid to close the loan.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/earlyPayoffSimulationRequest"

      responses:
        '200':
          description: earlyPayoffSimulation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/earlyPayoffSimulationResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/interestAccruals:
    get:
      operationId: getInterestDetails

      tags:
        - Loan Balances & Info

      summary: Get loan accruals.
      description: >
        Returns accrual details for the specified loan for the current period, such as interest accruals and related accrual components.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getInterestDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInterestDetailsResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/lineOfBusiness:
    put:
      operationId: changeLOB

      x-event: lending.modifyLOB.lobModified

      tags:
        - Loan Maintenance

      summary: Change line of business for a loan.
      description: >
        Change the line of business of an existing loan specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeLOBRequest"

      responses:
        '200':
          description: changeLOB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/loanClosure:
    put:
      operationId: CloseLoanAccount

      x-event: lending.close.loanClosed

      tags:
        - Loan Closure

      summary: Loan closure.
      description: >
        Close a loan account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseLoanAccountRequest"

      responses:
        '200':
          description: CloseLoanAccount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/loans/writeoffs:
    put:
      operationId: writeOffLoan

      x-event: lending.writeOff.loanWrittenOff

      tags:
        - Balance Maintenance

      summary: Write off a loan.
      description: >
        Write off a whole loan in order to remove both its bills and balances.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/writeOffLoanRequest"

      responses:
        '200':
          description: writeOffLoan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/overdueAgeingStatus:
    get:
      operationId: getOverdueAgeingStatus

      tags:
        - Loan Balances & Info

      summary: Get overdue ageing status.
      description: >
        Retrieves the overdue ageing status of bills for the specified loan account, including current and previous statuses.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getOverdueAgeingStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOverdueAgeingStatusResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/overdueStatus:
    post:
      operationId: changeOverdueStatus

      x-event: lending.age.overdueAged

      tags:
        - Loan Maintenance

      summary: Change the overdue ageing status of a loan.
      description: >
        Change the type of bill associated with a loan and the ageing status that the loan will be moved to when bill is overdue.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeOverdueStatusRequest"

      responses:
        '200':
          description: changeOverdueStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/parties:
    put:
      operationId: changeCustomer

      x-event: lending.updateParty.partyUpdated

      tags:
        - Loan Parties

      summary: Change customers.
      description: >
        Change the customers associated with the specified account by providing customer codes and roles.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCustomerRequest"

      responses:
        '200':
          description: changeCustomer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      operationId: deleteCustomerLending

      x-event: lending.updateParty.partyUpdated

      tags:
        - Loan Parties

      summary: Delete customers.
      description: >
        Delete particular customers from the specified account by providing customer codes and roles to be removed.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deleteCustomerLendingRequest"

      responses:
        '200':
          description: deleteCustomerLending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/payment:
    put:
      operationId: advancePayment

      x-event: lending.repay.transactionExecuted

      tags:
        - Repayment & Disbursement

      summary: Make an advance loan payment.
      description: >
        Post an advance payment against the specified loan, specifying either paying the principal directly or bills in advance.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/advancePaymentRequest"

      responses:
        '200':
          description: advancePayment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/advancePaymentResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/payment/simulation:
    put:
      operationId: advancePaymentSimulation

      tags:
        - Repayment & Disbursement

      summary: Simulate an advance loan payment.
      description: >
        Simulate an advance payment against the specified loan, specifying either paying the principal directly or bills in advance to determine new maturity date and installment amounts.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/advancePaymentSimulationRequest"

      responses:
        '200':
          description: advancePaymentSimulation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/advancePaymentSimulationResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/paymentHoliday:
    put:
      operationId: setPaymentHoliday

      x-event: lending.updatePaymentHoliday.paymentHolidayUpdated

      tags:
        - Payment Schedule Management

      summary: Set payment holiday.
      description: >
        Set a payment holiday for the specified loan using the given dates, payment type, recalculation method, and updated installment amount.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/setPaymentHolidayRequest"

      responses:
        '200':
          description: setPaymentHoliday
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/setPaymentHolidayResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/paymentHoliday/simulation:
    put:
      operationId: setPaymentHolidaySimulation

      tags:
        - Loan Simulation
        - Payment Schedule Management

      summary: Simulate a payment holiday.
      description: >
        Simulate a payment holiday for the specified loan using the given dates, payment type, recalculation method, and updated installment amount.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/setPaymentHolidaySimulationRequest"

      responses:
        '200':
          description: setPaymentHolidaySimulation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/setPaymentHolidaySimulationResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/paymentSchedule:
    put:
      operationId: changePaymentSchedule

      x-event: lending.updateSchedule.scheduleUpdated

      tags:
        - Payment Schedule Management

      summary: Change payment schedule.
      description: >
        Change the payment schedule for a specified loan by modifying the payment type, property, payment frequency, and/or start date.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changePaymentScheduleRequest"

      responses:
        '200':
          description: changePaymentSchedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    get:
      operationId: getPaymentSchedule

      tags:
        - Payment Schedule Management

      summary: Get details of payment schedules.
      description: >
        Returns all relevant payment schedule details for the specified loan.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getPaymentSchedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPaymentScheduleResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/pricingAdjustments:
    put:
      operationId: createSimplePricingAdjustments

      x-event: lending.addPricingAdjustments.PricingAdjustmentsAdded

      tags:
        - Pricing Adjustments

      summary: Adjust pricing details such as fees or interest.
      description: >
        Adjust the pricing details for a loan account, including any fees, interest, or additional benefits.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSimplePricingAdjustmentsRequest"

      responses:
        '200':
          description: createSimplePricingAdjustments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/pricingAdjustments/advanced:
    put:
      operationId: UpdateAdvPricingAdjustment

      x-event: lending.addPricingAdjustments.PricingAdjustmentsAdded

      tags:
        - Pricing Adjustments

      summary: Advanced API to adjust pricing details such as fees or interest.
      description: >
        An advanced API that allows more control for adjusting the pricing details for a loan account, including any fees, interest, or additional benefits.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdvPricingAdjustmentRequest"

      responses:
        '200':
          description: UpdateAdvPricingAdjustment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/product:
    put:
      operationId: changeProduct

      x-event: lending.changeProduct.productChanged

      tags:
        - Loan Maintenance

      summary: Change product for a loan.
      description: >
        Change the product of an existing loan specified in the path.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeProductRequest"

      responses:
        '200':
          description: changeProduct
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/projectedBills/adjustments:
    put:
      operationId: adjustProjectedBills

      x-event: lending.infoAdjustBill.infoBillAdjusted

      tags:
        - Balance Maintenance

      summary: Adjust projected bills for a loan.
      description: >
        Adjust the amounts on a projected bill for a specified loan before it is paid.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adjustProjectedBillsRequest"

      responses:
        '200':
          description: adjustProjectedBills
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/repayments:
    post:
      operationId: loanRepayment

      x-event: lending.repay.transactionExecuted

      tags:
        - Repayment & Disbursement

      summary: Repay consumer loans.
      description: >
        Repay the specified loan by providing the amount to be paid and the account to be debited.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/loanRepaymentRequest"

      responses:
        '200':
          description: loanRepayment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/loanRepaymentResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/schedules/configurations:
    get:
      operationId: getScheduleForLoan

      tags:
        - Payment Schedule Management

      summary: Get loan schedule configurations.
      description: >
        Returns the schedule configurations for the specified loan, including payment types, frequencies, and scheduled properties.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getScheduleForLoan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getScheduleForLoanResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/settlementInstructions:
    put:
      operationId: createSettlementInstructionsLite

      x-event: lending.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Enable or disable settlement instructions.
      description: >
        Enable or disable settlement instructions for a specified loan account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSettlementInstructionsLiteRequest"

      responses:
        '200':
          description: createSettlementInstructionsLite
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/settlementInstructions/advanced:
    put:
      operationId: createSettlementInstructionsAdvanced

      x-event: lending.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Change settlement instructions.
      description: >
        Change settlement instructions for a specified loan account using advanced field options, which include payment type, settlement type, percentage, maximum amount, and activity.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSettlementInstructionsAdvancedRequest"

      responses:
        '200':
          description: createSettlementInstructionsAdvanced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/settlementInstructions/default:
    put:
      operationId: createLendingSettlementInstructionsDefault

      x-event: lending.updateSettlement.settlementUpdated

      tags:
        - Settlement Instructions

      summary: Change default settlement instructions.
      description: >
        Change default settlement instructions for a specified loan account by modifying either the default account id or default beneficiary id.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createLendingSettlementInstructionsDefaultRequest"

      responses:
        '200':
          description: createLendingSettlementInstructionsDefault
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/statement:
    get:
      operationId: getLoanStatement

      tags:
        - Statements

      summary: Get loan statement.
      description: >
        Returns a detailed transaction history for the specified loan, including the opening and closing balances, transaction code and amount, and the booking date, amongst other information.

      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_start'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/disablePagination'
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      responses:
        '200':
          description: getLoanStatement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLoanStatementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/statementFrequencies:
    put:
      operationId: updateLoanStatementFrequencies

      x-event: lending.updateStatement.statementUpdated

      tags:
        - Statements

      summary: Update statement Frequency for loan accounts
      description: >
        Update the statement frequency details for loans (Monthly,Weekly,Quarterly,Daily,Annually).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateLoanStatementFrequenciesRequest"

      responses:
        '200':
          description: updateLoanStatementFrequencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/takeover/balances:
    put:
      operationId: TakeoverLoanBalances

      x-event: lending.captureBalance.balanceCaptured

      tags:
        - Migrations

      summary: Migrate loan account balances.
      description: >
        Migrate loan account balances from a legacy system by capturing the balance details of the specified account (such as balance type, due amount, etc.).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TakeoverLoanBalancesRequest"

      responses:
        '200':
          description: TakeoverLoanBalances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/takeover/bills:
    put:
      operationId: takeoverBill

      x-event: lending.captureBill.billCaptured

      tags:
        - Migrations

      summary: Take over loan bills.
      description: >
        Migrate loan account bills from a legacy system by capturing the bill details of the specified account (such as balance type, due amount, etc.).

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/takeoverBillRequest"

      responses:
        '200':
          description: takeoverBill
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/lending/{accountId}/term:
    put:
      operationId: updateLoanTerm

      x-event: lending.updateTerm.termUpdated

      tags:
        - Term Management

      summary: Change the term length of a Loan Account.
      description: >
        Change the term length of an already existing loan account.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the account. For example - 123456.
          example: 123456

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateLoanTermRequest"

      responses:
        '200':
          description: updateLoanTerm
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrangementResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /holdings/simulation/{simulationReference}/execution:
    put:
      operationId: simulateLoanExecution

      tags:
        - Loan Simulation

      summary: Execute a simulation.
      description: >
        Execute an existing simulation using the provided simulation reference id.

      parameters:
        - $ref: '#/components/parameters/validate_only'
        - $ref: '#/components/parameters/credentials'
        - $ref: '#/components/parameters/companyReference'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/userRole'
        - $ref: '#/components/parameters/channel'
        - name: simulationReference
          in: path
          required: true
          schema:
            type: string
          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.
          example: AASIM25105G946Y65X

      responses:
        '200':
          description: simulateLoanExecution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/simulateLoanExecutionResponse"

        '400':
          $ref: '#/components/responses/BusinessErrorResponse'
        '500':
          $ref: '#/components/responses/SystemErrorResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

components:

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    apiKey:
      type: apiKey
      name: Authorization
      in: header

  parameters:
    page_size:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: >
        The total number of records per page.
    page_start:
      name: page_start
      in: query
      required: false
      schema:
        type: integer
      description: >
        The record from which the response should be displayed.
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: >
        Unique id expected to be returned as part of the response from the system.
    disablePagination:
      name: disablePagination
      in: header
      required: false
      schema:
        type: boolean
      description: >
        Defines the availability of the pagination attributes in the header. If it is set to true, the system will fetch all the data without pagination.
    validate_only:
      name: validate_only
      in: query
      required: false
      schema:
        type: boolean
      description: >
        Indicates whether the request should be validated only (true) or executed (false).
    credentials:
      name: credentials
      in: header
      required: false
      schema:
        type: string
      description: >
        Username and password to authenticate the API request in the system.
    companyReference:
      name: companyReference
      in: header
      required: false
      schema:
        type: string
      description: >
        Specifies the company code to which the external account belongs.
    deviceId:
      name: deviceId
      in: header
      required: false
      schema:
        type: string
      description: >
        Identifies the device type.
    userRole:
      name: userRole
      in: header
      required: false
      schema:
        type: string
      description: >
        User who initiated the transaction.
    channel:
      name: channel
      in: header
      required: false
      schema:
        type: string
      description: >
        Captures the origination or servicing channel through which the account or transaction was initiated, such as BRANCH or ONLINE.

  schemas:

    getCustomerRelatedLoansResponse:
      type: object
      properties:
        accounts:
          type: array

          description: >
            Contains all of the accounts related to the specified party.

          items:
            type: object
            properties:
              accountBalance:
                type: number

                description: >
                  Represents the real-time available balance of the account, showing accessible funds.

                example: 1000.0

              accountId:
                type: string

                description: >
                  Unique identifier of the account. For example - 123456.

                example: 123456

              accountName:
                type: string

                description: >
                  Defines the name of the account. For example, "MySavingsAccount" or "MyCurrentAccount".

                example: MySavingsAccount

              status:
                type: string

                description: >
                  Indicates the funding status of the account (e.g., Current, Unauthorized or Fully funded, Partially funded, Not Funded).

                example: CURRENT

              branch:
                type: string

                description: >
                  Defines the branch to which the account belongs.

                example: 01123

              channel:
                type: string

                description: >
                  Captures the origination or servicing channel through which the account or transaction was initiated, such as BRANCH or ONLINE.

                example: EMAIL

              companyCode:
                type: string

                description: >
                  Defines the company/entity to which the account is maintained.

                example: GB0010001

              contractDate:
                type: string

                description: >
                  Defines the date on which the account was created. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              currency:
                type: string

                description: >
                  Contains the 3-digit ISO currency code that indicates the currency of the account. For example - USD.

                example: USD

              lineOfBusiness:
                type: string

                description: >
                  Specifies the banking line of business (e.g., RETAIL, CORPORATE) under which the account is managed.

                example: 99

              parties:
                type: array

                description: >
                  Defines the parties of the account and their respective roles.

                items:
                  type: object
                  properties:
                    partyId:
                      type: string

                      description: >
                        The party identification number associated with the account.

                      example: 189993

                    partyRole:
                      type: string

                      description: >
                        Defines the role of the party in the account.

                      example: OWNER

              productId:
                type: string

                description: >
                  Contains the name of the product associated with the account (e.g., RegularCurrentAccount).

                example: ConsumerLoan

              productType:
                type: string

                description: >
                  Contains the broader product group under which the account's product is categorized.

                example: CurrentAccount

              startDate:
                type: string

                description: >
                  Defines the date on which the transaction, payment, or change gets initiated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

    getPartyListOfLoansResponse:
      type: object
      properties:
        accounts:
          type: array

          description: >
            Contains all of the accounts related to the specified party.

          items:
            type: object
            properties:
              accountId:
                type: string

                description: >
                  Unique identifier of the account. For example - 123456.

                example: 123456

              termAmount:
                type: number

                description: >
                  The loan amount originally set for the loan's term.

                example: 750000

              maturityDate:
                type: string

                description: >
                  Defines the maturity date of the account. It is applicable to term deposit and lending products. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              ageingStatus:
                type: string

                description: >
                  The ageing status of the loan account.

                example: CURRENT

              currency:
                type: string

                description: >
                  Contains the 3-digit ISO currency code that indicates the currency of the account. For example - USD.

                example: USD

              branch:
                type: string

                description: >
                  Defines the branch to which the account belongs.

                example: 01123

              contractDate:
                type: string

                description: >
                  Defines the date on which the account was created. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              startDate:
                type: string

                description: >
                  Defines the date on which the transaction, payment, or change gets initiated. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              productId:
                type: string

                description: >
                  Contains the name of the product associated with the account (e.g., RegularCurrentAccount).

                example: ConsumerLoan

              productType:
                type: string

                description: >
                  Contains the broader product group under which the account's product is categorized.

                example: CurrentAccount

              companyCode:
                type: string

                description: >
                  Defines the company/entity to which the account is maintained.

                example: GB0010001

              availableBalance:
                type: number

                description: >
                  Defines the usable balance in the account after considering cleared balance, pending debits, blocked funds, and limits.

                example: 1000.0

              parties:
                type: array

                description: >
                  Defines the parties of the account and their respective roles.

                items:
                  type: object
                  properties:
                    partyId:
                      type: string

                      description: >
                        The party identification number associated with the account.

                      example: 189993

                    partyRole:
                      type: string

                      description: >
                        Defines the role of the party in the account.

                      example: OWNER

    simulateLoanExecutionResponse:
      type: object
      properties:
        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

    earlyPayoffSimulationResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        fees:
          type: array

          description: >
            All of the fees incurred when committing an early payoff simulation activity.

          items:
            type: object
            properties:
              feeType:
                type: string

                description: >
                  Defines if the fee is payable to the customer (CREDIT such as cash back or bonus) or payable by the customer (DEBIT).

                example: CASHBACK

              feeName:
                type: string

                description: >
                  Defines the name of the applied fee.

                example: openingFee

              feeAmount:
                type: number

                description: >
                  Fee charged associated with the specific fee that must be paid in the early payoff simulation

                example: 25.0

        interestAmount:
          type: number

          description: >
            Total accrued interest that must be paid in the early payoff simulation.

          example: 150.0

        outstandingAmount:
          type: string

          description: >
            The total outstanding amount of the loan that needs to be paid off for the early payoff.

          example: 257183.32

        overdueAmount:
          type: string

          description: >
            The overdue amount that must be paid for the early payoff simulation.

          example: 1233.00

        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

        totalPayoffAmount:
          type: string

          description: >
            The total amount of the loan that needs to be paid off for the early payoff.

          example: 307183.32

    advancePaymentSimulationResponse:
      type: object
      properties:
        balances:
          type: array

          description: >
            List of balance details being migrated for the account.

          items:
            type: object
            properties:
              balanceAmount:
                type: number

                description: >
                  Specifies the amount associated with the respective balance type.

                example: 1000.0

              balanceType:
                type: string

                description: >
                  Indicates the type of balance displayed.

                x-reference:  /reference?applicationId=AC.BALANCE.TYPE

                example: CURPRINCIPAL

              balanceName:
                type: string

                description: >
                  Name or type of balance to which the repayment applies, such as principal or interest.

                example: PRINCIPAL

        newInstallmentAmount:
          type: string

          description: >
            Defines the new amount that is payable for the installment.

          example: 1000

        newMaturityDate:
          type: string

          description: >
            Defines the new maturity date of the loan after recalculation. The format of the date is yyyy-mm-dd.

          example: 2025-01-14

        previousInstallmentAmount:
          type: string

          description: >
            Defines the old amount that is payable for the installment.

          example: 2000

        previousMaturityDate:
          type: string

          description: >
            Defines the old maturity date of the loan before recalculation. The format of the date is yyyy-mm-dd.

          example: 2025-04-14

        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

    createlendingSimResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        interest:
          type: array

          description: >
            Contains the interest details, such as frequency and type of an account.

          items:
            type: object
            properties:
              interestRate:
                type: number

                description: >
                  Defines the applied interest rate for the respective accrual date.

                example: 4.0

              interestRateDate:
                type: string

                description: >
                  Defines the date at which the interest rate becomes effective.

                example: 2025-04-14

              interestType:
                type: string

                description: >
                  Defines the type of interest that is applicable to the account.

                example: CreditInterest

              tierType:
                type: string

                description: >
                  Defines the type of tiers defined, such as BAND or LEVEL.

                example: BAND

        paymentSchedule:
          type: array

          description: >
            Contains the payment schedule details for an account, such as frequency and type.

          items:
            type: object
            properties:
              paymentFrequency:
                type: string

                description: >
                  Indicates the recurrence interval at which payments are generated.

                example: Monthly

              paymentType:
                type: string

                description: >
                  Indicates the type of payment defined in the payment schedule (e.g., interest, principal).

                x-reference:  /reference?applicationId=AA.PAYMENT.TYPE

                example: equatedPayments

              property:
                type: string

                description: >
                  Defines the property associated with the respective payment or balance type.

                x-reference:  /reference?applicationId=AA.PROPERTY

                example: DepositInterest

        simulationReference:
          type: string

          description: >
            Unique identifier of the simulation. For example - AASIM25105G946Y65X.

          example: AASIM25105G946Y65X

    getLendingActivityHistoryResponse:
      type: object
      properties:
        accountId:
          type: string

          description: >
            Unique identifier of the account. For example - 123456.

          example: 123456

        accountName:
          type: string

          description: >
            Defines the name of the account. For example, "MySavingsAccount" or "MyCurrentAccount".

          example: MySavingsAccount

        activities:
          type: array

          description: >
            Provides the list of activity records or entries associated with the account.

          items:
            type: object
            properties:
              activityAmount:
                type: number

                description: >
                  Captures the monetary value involved in a specific account activity.

                example: 1000.0

              activityDate:
                type: string

                description: >
                  Captures the banking or booking date of an activity. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              activityReference:
                type: string

                description: >
                  Contains the unique reference id generated for the activity that was performed.

                example: AAACT25105T3FKC472

              effectiveDate:
                type: string

                description: >
                  Defines the date on which the change goes into effect. Defaults to the current banking date if omitted. The format of the date is yyyy-mm-dd.

                example: 2025-04-14

              activityCode:
                type: string

                description: >
                  Defines the code used to classify the type of activity performed on an arrangement.

                example: DEPOSITS-SETTLE-AutoSettlement

              activityName:
                type: string

                description: >
                  Specifies the descriptive name of the activity performed on the arrangement.

[...]
